<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- toast grid-->
<link rel="stylesheet" href="/tui-grid/dist/tui-grid.css" />
<script src="/tui-grid/dist/tui-grid.js"></script>
<!-- style and js -->
<link rel="stylesheet" href="/equipmentCss/main.css"/>
<!-- bootstrap@5.2.2 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

<style type="text/css">
.textWidth {
	width:250%;
}
</style>

</head>
<body>

 	<div layout:fragment="content" style="height: 900px; overflow: scroll">
		  <!-- model and view로 보낸 데이터 [[${pno}]] 이런식으로 써야합니다 밖에서 쓰려면. -->
		  <h2>공정 관리</h2>
		
		  <div class="row">
			        <div class="column">
			          <h5>공정 관리</h5>
			          <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal1">
						등록</button></div>

			          <div id="processList">
		                 
	              	  </div>
		        	</div>
		
			        <div class="column">
			          <h5>설비 관리</h5><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">등록</button>
					  <div id="equipList">
		                 
	              	  </div>
			        </div>
		
		  </div>

	<!-- The Modal 1 공정모달 -->
	<div class="modal fade" id="myModal1">
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title">공정 등록</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	
			<form id="insertForm1" action="insertProcess" method="post" onsubmit="formOption()">
			<!-- Modal body -->
			<div class="modal-body">
				<table class="table">
                    <tr>
						<td>공정번호</td>
                        <td><input class="form-control" id="processNo" name="processNo" th:value="${pno }" type="text" readonly></td>
                        <td>공정명</td>
                        <td><input class="form-control" id="processName" name=processName type="text" required></td>
                    </tr>
                    <tr>
                        <td>공정내용</td>
                        <td><textarea class="form-control" id="processContent" name="processContent" rows="5" required></textarea></td>
                    </tr> 
 					<tr>
                        <td>공정순서</td>
                        <td><input class="form-control" id="processSeq" name="processSeq" type="text" required></td>
                    </tr>
               	 	</table>
			</div>
	
			<!-- Modal footer -->
			<div class="modal-footer">
			<button type="sumbit" class="btn btn-primary">등록</button>
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
			</div>
				</form>               
	
		</div>
		</div>
	</div>
	
	<!-- The Modal 2 설비모달 -->
	<div class="modal fade" id="myModal2">
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title">설비 등록</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	
			<!-- Modal body -->
			<div class="modal-body">
				<form id="insertForm2" action="insertEquip" method="post" onsubmit="formOption()">
				<table class="table">
					
                    <tr>
						<td>설비번호</td>
                        <td><input class="form-control" id="equipNo" th:value="${eno }" type="text" readonly></td>
                        <td>설비명</td>
                        <td><input class="form-control" id="equipName" type="text"></td>
                    </tr>
                    <tr>
                        <td>설비타입</td>
                        <td><input class="form-control" id="equipType" type="text"></td>
                    </tr>
                     <tr>
                        <td>정상진동</td>
                        <td><input class="form-control" id="equipStdVibe" type="text"></td>
                        <td>정상온도</td>
                        <td><input class="form-control" id="equipStdTemp" type="text"></td>
                    </tr>
                    <tr>
                        <td>설치시기</td>
                        <td><input class="form-control" id="equipDate"type="text"></td>
                    </tr> 
                    
                    <tr>
                        <td>설비설명</td>
                        <td><textarea class="form-control textWidth" id="processContent" rows="5"></textarea></td>
                    </tr> 
 					<tr>
                        <td>공정순서</td>
                        <td><input class="form-control" id="processSeq" type="text"></td>
                    </tr>                  
                </table>
			</form>
			</div>
	
			<!-- Modal footer -->
			<div class="modal-footer">
			<button type="submit" class="btn btn-primary">등록</button>
			<button type="button" class="btn btn-danger"  data-bs-dismiss="modal">취소</button>
			</div>
	
		</div>
		</div>
	</div>
 
	<script>

		url="http://localhost:85/equipment/processList"
	    fetch(url) // 공정 리스트 불러오는 아작스
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        progress.resetData(obj);
	       
	    })
	    
	    url="http://localhost:85/equipment/equipList"
	    fetch(url) // 설비 리스트 불러오는 아작스
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        equip.resetData(obj);
	        
	    })

		const progress = new tui.Grid({ //공정 그리드
		    el: document.querySelector('#processList'),
		    scrollX: false,
		    scrollY: false,
		    columns: [
		    {
				header: '공정번호',
				name: 'processNo'
				    },
		    {
		        header: '공정명',
		        name: 'processName'
		    },
		    {
		        header: '공정내용',
		        name: 'processContent'
		    },
		    {
		        header: '공정순서',
		        name: 'processSeq'
		    }
		    ]
		});
	    
	    const equip = new tui.Grid({ // 설비 그리드
		    el: document.querySelector('#equipList'),
		    scrollX: false,
		    scrollY: false,
		    columns: [
		    {
				header: '설비번호',
				name: 'equipNo'
				    },
		    {
		        header: '설비타입',
		        name: 'equipType'
		    },
		    {
		        header: '설비용도',
		        name: 'equipPurpose'
		    },
		    {
		        header: '적용공정',
		        name: 'equipProcess'
		    }
		    ]
		});
		

		function formOption(){
	
			let pname = document.querySelector('input[name="processName"]');
			let pcontent = document.querySelector('textarea[name="processContent"]');
			let pseq = document.querySelector('input[name="processSeq"]');
				
			if(pname.value() == ''){ // 공백일 시
				alert("공정명이 입력되지 않았습니다.");
				console.log("공정명이 입력되지 않았습니다.");
				pname.focus();
				return false;
			}
			
			if(pcontent.value() == ''){ // 공백일 시
				alert("공정내용이 입력되지 않았습니다.");
				console.log("공정내용이 입력되지 않았습니다.");
				pcontent.focus();
				return false;
			}

			if(pseq.value() == ''){ // 공백일 시
				alert("공정순서가 입력되지 않았습니다.");
				console.log("공정순서가 입력되지 않았습니다.");
				pseq.focus();
				return false;
			}
			return true;
			
			document.querySelector('#insertForm1').submit();
			
		}
		
</script>

	</div>
</body>
</html>