<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- style and js -->
<link rel="stylesheet" href="/equipmentCss/main.css"/>

</head>
<body>

	<div layout:fragment="content" style="height: 900px; overflow: scroll">
			  <h2>보전 관리</h2>

			 
		  
		       <div> 
            <!-- 탭 목록(버튼) 설정 -->
            <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
               <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="maintenance-tab"
                     data-bs-toggle="tab" data-bs-target="#maintenance" type="button"
                     role="tab" aria-controls="maintenance" aria-selected="true">보수</button>
               </li>
               <li class="nav-item" role="presentation">
                  <button class="nav-link" id="insert-tab" data-bs-toggle="tab"
                     data-bs-target="#work" type="button" role="tab"
                     aria-controls="work" aria-selected="false">공사</button>
               </li>
            </ul>
            <!-- 탭 본문 -->
            <div class="tab-content" id="myTabContent">
               <!-- 보수 탭 -->
               <div class="tab-pane fade show active" id="maintenance" role="tabpanel"
                  aria-labelledby="maintenance-tab">
                  <div style="margin: 15px;">
                     <table style="width: 100%;">                        
                           <tr>
                              <td colspan="3">
                                 <div class="row">
                                    <div class="column">
                                      <h5>점검 내역 관리</h5>
                                       <div id="test">
                                       </div>
                                    </div>
                            
                                    <div class="column">
                                      <h5>고장 내역 관리</h5>
                                         <div id="fail">
                                         </div>
                                    </div>			        		
                                 </div>
                              </td>
                           </tr>
                           
                           <tr>
                              <td></td>
                              <td></td>
                              <td style="text-align: right;">
                                 <button type="button" id="updateBtn"
                                    class="btn btn-dark btn-sm">계획수정</button>
                                 <button type="button" id="deleteBtn"
                                    class="btn btn-dark btn-sm">계획취소</button>
                              </td>
                           </tr>
                     </table>

                  </div>

               </div>
               
               <!-- 공사 탭 -->
               <div class="tab-pane fade" id="work" role="tabpanel"
                  aria-labelledby="work-tab">
                  <div style="margin: 15px;">
                     <table style="width: 100%;">
                        <tr>
                           <td style="width: 140px;">생산 계획명 &nbsp;</td>
                           <td><input type="text" name="planName" id="planName" placeholder="계획명을 입력하세요"></td>
                        </tr>
                        <tr>
                           <td>생산 계획 일자 &nbsp;</td>
                           <td>
                              <div
                                 class="tui-datepicker-input tui-datetime-input tui-has-focus">
                                 <input type="text" id="datepicker-input"
                                    aria-label="Date-Time"> <span class="tui-ico-date"></span>
                              </div>
                              <div id="wrapper" style="margin-top: -1px;"></div>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="2">
                              <div id="insertGrid" style="width: 100%;"></div>
                           </td>
                        </tr>
                        <tr>
                           <td style="text-align: left;" colspan="2">
                              <!-- 모달버튼 -->
                              <button type="button" id="showBtn"
                                 class="btn btn-dark btn-sm"
                                 data-bs-toggle="modal" data-bs-target="#requestModal">생산요청서
                                 조회</button>
                              <button type="button" id="insertBtn"
                                 class="btn btn-dark btn-sm">계획등록</button>
                              <button type="button" id="plusBtn"
                                 class="btn btn-dark btn-sm">행 추가</button>
                              <button type="button" id="removeBtn"
                                 class="btn btn-dark btn-sm btn-danger">행 삭제</button>
                           </td>
                        </tr>
                     </table>

                  </div>

               </div>
            </div>
	



<script type="text/javascript">
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */	

tabBtnHandler(); // 탭 버튼 클릭핸들러

/* 점검 리스트 불러오는 아작스 */

	url="/equipment/testList"
	fetch(url) 
	.then(res=>res.json())
	.then(obj=>{
	    console.log(obj);
	    testGrid.resetData(obj);
    
	})

/* 고장 리스트 불러오는 아작스 */
    
    url="/equipment/failList"
    fetch(url) 
    .then(res=>res.json())
    .then(obj=>{
        console.log(obj);
        failGrid.resetData(obj);
        
    })

    
 /*------------
   // 탭 버튼 클릭
   ----------------*/
   function tabBtnHandler(){
      const mt = document.getElementById('maintenance-tab');
      mt.addEventListener('click', function(){
    	  maintenanceGrid.refreshLayout();
      });   
      
      // tab 클릭 이벤트
     const wt = document.getElementById('#work-tab');
     wt.addEventListener('click', function(){
    	  workGrid.refreshLayout();
      });
   }

/*  점검 그리드  */	
	const testGrid = new tui.Grid({
			    el: document.querySelector('#test'),
			    pagination:true,
				pageOptions: {
					useClient: true,
					perPage: 4
				},
				rowHeaders: ['checkbox'],
			    columns: [
			    {
			        header: '설비명',
			        name: 'equipName'
			    },
			    {
			        header: '점검예정일',
			        name: 'testDueDate'
			    },
			    {
			        header: '점검이유',
			        name: 'testReason'
			    },
			    {
			        header: '특이사항',
			        name: 'testPs'
			    }
			    ]
			});


/*  고장 그리드  */	
		const failGrid = new tui.Grid({
		    el: document.querySelector('#fail'),
		    pagination:true,
			pageOptions: {
				useClient: true,
				perPage: 4
			},
		    columns: [
		    {
		        header: '설비명',
		        name: 'equipName'
		    },
		    {
		        header: '고장발생일',
		        name: 'failDate'
		    },
		    {
		        header: '고장내역',
		        name: 'failContent'
		    },
		    {
		        header: '특이사항',
		        name: 'failPs'
		    }
		    ]
		});

</script>
</div>
</body>
</html>