<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- toast grid-->

<!-- style and js -->
<link rel="stylesheet" href="/equipmentCss/main.css">
</head>
<body>

 	<div layout:fragment="content" style="height: 900px; overflow: scroll">
		  <h2>설비 관리</h2>
		
		  <div class="row">
		        <div class="column">
			        <h5> 실시간 설비 현황</h5>
			        <div>
		                <div  class="container">
		                <img src="/equipmentCss/real_time_equip.jpg" alt="실시간_공정_사진">
		                </div>
	              	</div>
              
		        </div>
		        
		        <div class="column">
		          <h5> 점검 관리</h5>
				  <div id="testGrid">
				  </div>
		        </div>
		
		        <div class="column">
		          <h5> 공사 관리</h5>
		          <div id="workGrid">
		          </div>
		        </div>
		
		  </div>

 
<script>


/*  점검 그리드  */	
const testGrid = new tui.Grid({
		    el: document.querySelector('#testGrid'),
		    pagination:true,
			pageOptions: {
				perPage: 4
			},
		    columns: [
		    {
				header:'점검번호',
				name:'testNo'
			},
		    {
		        header: '설비명',
		        name: 'equipName'
		    },
		    {
		        header: '점검예정일',
		        name: 'testDueDate'
		    },
		    {
		        header: '점검이유',
		        name: 'testReason'
		    },
		    {
		        header: '특이사항',
		        name: 'testPs'
		    }
		    ]
		});

/* 점검 리스트 불러오는 아작스 */

url="/equipment/testList"
fetch(url) 
.then(res=>res.json())
.then(obj=>{
    console.log(obj);
    testGrid.resetData(obj);

})

/*  공사 그리드  */	
		const workGrid = new tui.Grid({
		    el: document.querySelector('#workGrid'),
		    pagination:true,
			pageOptions: {
				perPage: 4
			},
		    columns: [
		    {
			   	header:'공사번호',
			    name:'workNo'
			},
		    {
		        header: '공사명',
		        name: 'workName'
		    },
		    {
		        header: '공사예정일',
		        name: 'workDate'
		    },
		    {
		        header: '공사내역',
		        name: 'workContent'
		    },
		    {
		        header: '특이사항',
		        name: 'workPs'
		    }
		    ]
		});
		
		/* 공사 리스트 불러오는 아작스 */
	    
	    url="/equipment/workList"
	    fetch(url) 
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        workGrid.resetData(obj);
	        
	    })
		
</script>

</div>
</body>
</html>