<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- style and js -->
<link rel="stylesheet" href="/equipmentCss/main.css"/>

</head>
<body>

	<div layout:fragment="content" style="height: 900px; overflow: scroll; margin:15px;">
			  <h2>유지 관리</h2>
  
		<div> 
            <!-- 탭 목록(버튼) 설정 -->
            <ul class="nav nav-tabs nav-pills" style="padding-top:15px;" id="myTab" role="tablist">
               <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="maintenanceTab"
                     data-bs-toggle="tab" data-bs-target="#maintenance" type="button"
                     role="tab" aria-controls="maintenance" aria-selected="true" >보수</button>
               </li>
               <li class="nav-item" role="presentation">
                  <button class="nav-link" id="workTab" data-bs-toggle="tab"
                     data-bs-target="#work" type="button" role="tab"
                     aria-controls="work" aria-selected="false">공사</button>
               </li>
            </ul>
            
            <!-- 탭 본문 -->
            <div class="tab-content" id="myTabContent">
	               <!-- 보수 탭 -->
	               <div class="tab-pane fade show active" id="maintenance" role="tabpanel"
	                  aria-labelledby="maintenance-tab">
	                  <div style="margin: 15px;">
	                     <table style="width: 100%;">                        
	                           <tr>
	                              <td colspan="3">
	                                 <div class="row">
	                                    <div class="column">
	                                      <h5>점검 내역</h5>
	                                     	<div class="searchbox">
								            <div class="header">
								         	<button type="button" class="btn btn-dark btn-sm margin5"
								         	data-bs-toggle="modal" data-bs-target="#myModal1">등록</button>
											     <input onkeyup="filter()" style="float:right;" type="text" id="value" placeholder="Type to Search">
											 </div>
					      				   </div>
					      				   
	                                       <div id="testGrid">
	                                       </div>
	                                       
	                                    </div>
	                            
	                                    <div class="column">
	                                      <h5>고장 내역</h5>
	                                     	<div class="searchbox">
								            <div class="header">
								         	<button type="button" class="btn btn-dark btn-sm margin5"
								         	data-bs-toggle="modal" data-bs-target="#myModal2">등록</button>
											     <input onkeyup="filter()" style="float:right;" type="text" id="value" placeholder="Type to Search">
											 </div>
					      				   </div>
					      				   
	                                       <div id="failGrid">
	                                       </div>
	                                         
	                                    </div>			        		
	                                 </div>
	                              </td>
	                           </tr>                       
	                     </table>
	
	                  </div>
	
	               </div>
	               
	               <!-- 공사 탭 -->
	               <div class="tab-pane fade" id="work" role="tabpanel"
	                  aria-labelledby="work-tab">
	                  <div>
	                     <table style="width: 100%;">
	                       		<tr>
	                              <td>
	                                 <div style="clear: both; margin: 15px;">  
	                                 	<div style="padding: 30px;">  
	                                      <h5>공사 내역 관리</h5>
	                                      <div class="searchbox">
							              <div class="header">
							         	  <button type="button" class="btn btn-dark btn-sm margin5"
							         	  data-bs-toggle="modal" data-bs-target="#myModal3">등록</button>
										     <input onkeyup="filter()" style="float:right;" type="text" id="value" placeholder="Type to Search">
										  </div>
				      				      </div>
	                                         
	                                      <div id="workGrid">
	                                      </div>
	                                    </div>			        		
	                                 </div>
	                              </td>
	                           </tr>
	                     </table>
	                  </div>
	               </div>
        </div>
	</div>
	
	<!-- The Modal 1 점검 등록 모달 -->
	<div class="modal fade" id="myModal1">
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title">점검 등록</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	
			<form id="insertForm1" action="insertTest" method="post">
			<!-- <sec:csrfInput/> -->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<!-- Modal body -->
			<div class="modal-body">
				<table class="table">
				  	<tr>
						<td>설비명</td>
                        <td><input class="form-control" id="testNo" name="testNo" th:value="${pno }" type="text" readonly></td>
                    </tr>
                    <tr>
						<td>점검예정일</td>
                        <td><input class="form-control" id="testNo" name="testNo" type="date" readonly></td>
                    </tr>
                    <tr>
                        <td>점검이유</td>
                        <td><input class="form-control" id="testName" name=testName type="text" required></td>
                   </tr>
                    <tr>
                        <td>점검내용</td>
                        <td><textarea class="form-control" id="testContent" name="testContent" rows="5" required></textarea></td>
                    </tr> 
 				
               	 	</table>
			</div>
	
			<!-- Modal footer -->
			<div class="modal-footer">
			<button type="submit" class="btn btn-primary">등록</button>
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
			</div>
		</form>               
	
		</div>
		</div>
	</div>
	
	<!-- The Modal 3 설비 단건 조회 모달 -->
	<div class="modal fade" id="myModal3" data-backdrop="static" data-keyboard="false">
		
		<div class="modal-dialog modal-dialog-centered" >
			<div class="modal-content">
		
					<!-- Modal Header -->
					<div class="modal-header">
					<h4 class="modal-title"><span id="whatEno"></span>설비 정보</h4>
					<button type="button" onclick="cancelUpdateEquip()" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
		
				<form id="updateForm1" class="updateForm" method="post" name="equip">
				<!-- <sec:csrfInput/> -->
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					
					<!-- Modal body -->
					<div id="equipInfo" class="modal-body">
						
					
						<table class="table">
		                    <tr>
								<td>설비명</td>
		                        <td><input class="form-control wantUpdate" id="selectEquipName" name="equipName" type="text"  readonly></td> <!-- th:value="${equip.equipName}" -->
		                        <td>설비타입</td>
		                        <td><input class="form-control wantUpdate" id="selectEquipType" name="equipType" type="text" readonly></td>		              
		                    </tr>
		                     <tr>
		                        <td>정상진동</td>
		                        <td><input class="form-control wantUpdate" id="selectEquipStdVibe" name="equipStdVibe" type="text" readonly></td>
		                        <td>정상온도</td>
		                        <td><input class="form-control wantUpdate" id="selectEquipStdTemp" name="equipStdTemp" type="text" readonly></td>
		                    </tr>
		                     <tr>
		                        <td>설치시기</td>
		                        <td><input class="form-control" id="selectEquipDate" name="equipDate" type="text" readonly></td>
		                        <td>가동시간</td>
		                        <td><input class="form-control" id="selectEquipStartDate" name="equipStartDate" type="text" readonly></td>
		                        <td>정지시간</td>
		                        <td><input class="form-control" id="selectEquipEndDate" name="equipEndDate" type="text" readonly></td>
		                    </tr>
		                    <tr>
		                        <td>설비설명</td>
		                        <td><textarea class="form-control wantUpdate textWidth" id="selectEquipPurpose" name="equipPurpose" rows="5" readonly></textarea></td>
		                    </tr>                  
		                </table>
					</div>
		
						<!-- Modal footer -->
						<div class="modal-footer">
							<input id="update"type="hidden" >
							<button type="button"  class="btn btn-primary updateBtn" onclick="updateBtnClick()">수정</button>
							<input type="hidden" id="thisNoUD" name="equipNo"> <!-- 업데이트, 삭제 때문에 가져온 설비번호 값. -->
							<button type="button" onclick="deleteEquip()" class="btn btn-primary">삭제</button>
							<button type="button"  onclick="cancelUpdateEquip()"  class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
						</div>
				</form>
		
			</div>
		</div>
	</div>
	
		
	<!-- The Modal 3 고장 등록 모달 -->
	<div class="modal fade" id="myModal3">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
		
				<!-- Modal Header -->
				<div class="modal-header">
				<h4 class="modal-title">설비 등록</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
		
				<form id="insertForm2" action="insertEquip" method="post">
				<!-- <sec:csrfInput/> -->
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<!-- Modal body -->
				<div class="modal-body">
					<table class="table">	
	                    <tr>
							<td>설비번호</td>
	                        <td><input class="form-control" id="equipNo" name="equipNo" th:value="${eno }" type="text" readonly></td>
	                        <td>설비명</td>
	                        <td><input class="form-control" id="equipName" name="equipName" type="text" required></td>
	                    </tr>
	                    <tr>
	                        <td>설비타입</td>
	                        <td><input class="form-control" id="equipType" name="equipType" type="text" required></td>
							<td>적용공정</td>
	                        <td><input class="form-control" id="equipProcess" name="equipProcess" type="hidden" th:value="1"> 
								        <select class="form-control" id="equipProcessSelect" onchange="changeSelect(this.value);" >            
								           <option th:each="epl : ${epl}" >[[${epl.processNo}]]</option>
						  				</select></td>          
	                    </tr>
	                     <tr>
	                        <td>정상진동</td>
	                        <td><input class="form-control" id="equipStdVibe" name="equipStdVibe" type="number" required>Hz</td>
	                        <td>정상온도</td>
	                        <td><input class="form-control" id="equipStdTemp" name="equipStdTemp" type="number" required>K</td>
	                    </tr>
	                    <tr>
	                        <td>설비설명</td>
	                        <td><textarea class="form-control textWidth" id="equipPurpose" name="equipPurpose" rows="5"></textarea></td>
	                    </tr>                  
	                </table>
				</div>
		
				<!-- Modal footer -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">등록</button>
						<button type="button" class="btn btn-danger"  data-bs-dismiss="modal">닫기</button>
					</div>
			</form>
		
			</div>
		</div>
	</div>
	
	<!-- The Modal 4 공정 단건 조회 모달 -->
	<div class="modal fade" id="myModal4">
		
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title"><span id="whatPno"></span>공정 정보</h4>
			<button type="button" onclick="cancelUpdateEquip()" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	
			<form id="updateForm2" method="post" name="process">
			<!-- <sec:csrfInput/> -->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<!-- Modal body -->
			<div id="equipInfo" class="modal-body">
			<table class="table">
					
                    <tr>
						<td>공정명</td>
                        <td><input class="form-control wantUpdate2" id="selectProcessName" name="processName" type="text"  readonly></td>              
                    </tr>
                    <tr>
                        <td>공정설명</td>
                        <td><textarea class="form-control wantUpdate2" id="selectProcessContent" name="processContent" rows="5" readonly></textarea></td>
                    </tr> 
                     <tr>
                        <td>공정순서</td>
                        <td><input class="form-control wantUpdate2" id="selectProcessSeq" name="processSeq" type="text" readonly></td>     
                    </tr>
                                   
                </table>
			</div>
	
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-primary updateBtn2" onclick="updateProcessBtnClick()">수정</button>
				<input type="hidden" id="thisNoUD2" name="processNo" > <!-- 업데이트, 삭제 때문에 가져온 공정번호 값. -->
				<button type="button" onclick="deleteProcess()" class="btn btn-primary">삭제</button>
				<button type="button"class="btn btn-danger" onclick="cancelUpdateProcess()"  data-bs-dismiss="modal">닫기</button>
			</div>
		</form>
	
		</div>
		</div>
	</div>



<script type="text/javascript">
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */	


// 그리드 초기화

/*------------
   // 탭 버튼 클릭
   ----------------*/
	const mt = document.querySelector('#maintenanceTab');
  	mt.addEventListener('shown.bs.tab',function(){
	   testGrid.refreshLayout();
 	  	failGrid.refreshLayout();
	});
	
	const wt = document.querySelector('#workTab');
	wt.addEventListener('shown.bs.tab',function(){
	   workGrid.refreshLayout();
 	  	
	});
   

/*  점검 그리드  */	
	const testGrid = new tui.Grid({
			    el: document.querySelector('#testGrid'),
			    pagination:true,
			    rowHeaders: ['checkbox'],
				pageOptions: {
					useClient: true,
					perPage: 4
				},
			    columns: [
			    {
					header:'점검번호',
					name:'testNo'
				},
			    {
			        header: '설비명',
			        name: 'equipName'
			    },
			    {
			        header: '점검예정일',
			        name: 'testDueDate'
			    },
			    {
			        header: '점검이유',
			        name: 'testReason'
			    },
			    {
			        header: '특이사항',
			        name: 'testPs'
			    }
			    ]
			});

	/* 점검 리스트 불러오는 아작스 */

	url="/equipment/testList"
	fetch(url) 
	.then(res=>res.json())
	.then(obj=>{
	    console.log(obj);
	    testGrid.resetData(obj);
    
	})


	
/*  고장 그리드  */	
		const failGrid = new tui.Grid({
		    el: document.querySelector('#failGrid'),
		    pagination:true,
		    rowHeaders: ['checkbox'],
			pageOptions: {
				useClient: true,
				perPage: 4
			},
		    columns: [
		    {
				header:'고장번호',
				name:'failNo'
			},
		    {
		        header: '설비명',
		        name: 'equipName'
		    },
		    {
		        header: '고장발생일',
		        name: 'failDate'
		    },
		    {
		        header: '고장내역',
		        name: 'failContent'
		    },
		    {
		        header: '특이사항',
		        name: 'failPs'
		    }
		    ]
		});
		
		/* 고장 리스트 불러오는 아작스 */
	    
	    url="/equipment/failList"
	    fetch(url) 
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        failGrid.resetData(obj);
	        
	    })



	
/*  공사 그리드  */	
		const workGrid = new tui.Grid({
		    el: document.querySelector('#workGrid'),
		    pagination:true,
			pageOptions: {
				useClient: true,
				perPage: 4
			},
		    columns: [
		    {
			   	header:'공사번호',
			    name:'workNo'
			},
		    {
		        header: '공사명',
		        name: 'workName'
		    },
		    {
		        header: '공사예정일',
		        name: 'workDate'
		    },
		    {
		        header: '공사내역',
		        name: 'workContent'
		    },
		    {
		        header: '특이사항',
		        name: 'workPs'
		    }
		    ]
		});
		
		/* 공사 리스트 불러오는 아작스 */
	    
	    url="/equipment/workList"
	    fetch(url) 
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        workGrid.resetData(obj);
	        
	    })
		
 




    



</script>
</div>
</body>
</html>