<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- style and js -->
<link rel="stylesheet" href="/equipmentCss/main.css"/>

</head>
<body>

	<div layout:fragment="content" style="height: 900px; overflow: scroll;  margin:15px;">
			  <h2>부품 관리</h2>

			  <div class="row">
			  
			        <div class="column">
			          <h5>부품 내역</h5>
			          <div class="searchbox">
			            <div class="header">
			         	<button type="button" class="btn btn-dark btn-sm margin5"
			         	data-bs-toggle="modal" data-bs-target="#myModal1">등록</button>
						     <input onkeyup="filter()" style="float:right;" type="text" id="value" placeholder="Type to Search">
						 </div>
      				   </div>
						  <div id="part">
						  </div>
			        </div>
			
			        <div class="column">
			          <h5>발주 내역</h5>
			          <div class="searchbox">
			            <div class="header">
			         	<button type="button" class="btn btn-dark btn-sm margin5"
			         	data-bs-toggle="modal" data-bs-target="#myModal2">등록</button>
						     <input onkeyup="filter()" style="float:right;" type="text" id="value" placeholder="Type to Search">
						 </div>
      				   </div>
				          <div id="partBuy">
				          </div>
			        </div>
			        		
			  </div>
		  
	



<script type="text/javascript">
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */	





/*  부품 그리드  */	
	const part = new tui.Grid({
			    el: document.querySelector('#part'),
			    pagination:true,
			    rowHeaders: ['checkbox'],
				pageOptions: {
					useClient: true,
					perPage: 4
				},
				
			    columns: [
			    {
			        header: '설비명',
			        name: 'equipName'
			    },
			    {
			        header: '점검예정일',
			        name: 'partDueDate'
			    },
			    {
			        header: '점검이유',
			        name: 'partReason'
			    },
			    {
			        header: '특이사항',
			        name: 'partPs'
			    }
			    ]
			});

	/* 부품 리스트 불러오는 아작스 */

	url="/equipment/partList"
	fetch(url) 
	.then(res=>res.json())
	.then(obj=>{
	    console.log(obj);
	    partGrid.resetData(obj);
    
	})
	
/*  발주 그리드  */	
		const partBuyGrid = new tui.Grid({
		    el: document.querySelector('#partBuy'),
		    pagination:true,
			pageOptions: {
				useClient: true,
				perPage: 4
			},
		    columns: [
		    {
		        header: '설비명',
		        name: 'equipName'
		    },
		    {
		        header: '고장발생일',
		        name: 'failDate'
		    },
		    {
		        header: '고장내역',
		        name: 'failContent'
		    },
		    {
		        header: '특이사항',
		        name: 'failPs'
		    }
		    ]
		});
		


	/* 발주 리스트 불러오는 아작스 */
	    
	    url="/equipment/partBuyList"
	    fetch(url) 
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        partBuyGrid.resetData(obj);
	        
	    })

</script>
</div>
</body>
</html>